body {
  background-color: #4877b5;
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font: Arial, serif;
}

table {
  background-color: #689fd9;
  width: 40%;
  margin: auto;
  border-collapse: separate;
  width: 2px;
  color: black;
  table-layout: fixed;
  width: 600px;
}

th,
td {
  border: 1px solid #315a8f;
  padding: 5px;
}

.dark-bar {
  border: white;
  height: 80px;
  width: 120%;
  background-color: #2d5c96;
  margin-top: -80px;
  margin-bottom: 40px;
  margin-left: -20px;
}
